section {
  height: 100vh;
}
.menu-left {
  margin-top: 64px;
}
.z {
  padding: 16px 0;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  background: #001529;
  z-index: 2;
  border-bottom: 1px solid #f6f6f6;
}
.logo {
  height: 32px;
  color: white;
  display: flex;
  flex-direction: row;
}
.logo .left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 25px;
  cursor: pointer;
}
.logo .left:hover p {
  opacity: 1;
}
.logo .right {
  display: flex;
  width: 40px !important;
  height: 40px !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f0f0f0;
  cursor: pointer;
  margin-right: 10px;
}
.logo .left label {
  font-size: 14px;
  font-weight: 700;
}
.logo .left p {
  margin: 0 !important;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.8;
}
.menu-1 {
  border-top: 1px solid #f0f0f0 !important;
}
.site-layout .site-layout-background {
  background: #fff;
}
header {
  border-bottom: 1px solid #f0f0f0 !important;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
footer .input {
  height: 10vh;
}
.ant-input-suffix {
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 64px;
}
.wrapper .name-channel {
  height: 32px;
  text-align: left;
  margin-left: 20px;
  font-weight: 800;
  margin-top: -5px;
}
.wrapper .users {
  height: 32px;
  text-align: left;
  margin-left: 20px;
  padding-top: 5px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.b-menu {
  border-bottom: 1px solid #f0f0f0;
}
.b-content {
  text-align: center;
  height: 80vh;
  background-color: rgba(var(--b3f, 250, 250, 250), 1) !important;
}
/* right menu */
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo1 {
  height: 63px;
  border-bottom: 1px solid #f6f6f6;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.logo1 p {
  margin: 0;
  font-weight: 800;
  font-size: 14px;
  flex-grow: 1;
  text-align: left;
}
.sider-right {
  border: 1px solid #f0f0f0 !important;
}
footer {
  background-color: rgba(var(--b3f, 250, 250, 250), 1) !important;
  text-align: center;
  padding: 24px 30px;
}
.close {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.close:hover {
  background-color: #eceaea;
}
.profile .ant-avatar-icon {
  margin: 20px 0;
}
.profile .t-profile p {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
}
.profile .p-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  align-items: center;
}
.icon-item {
  height: 30px;
  width: 30px;
  display: grid;
  background-color: #d3d2d2;
  border-radius: 50%;
  align-items: center;
  margin: 0 10px;
  opacity: .7;
}
.icon-item:hover {
  opacity: 1;
}
.info {
  margin-top: 20px;
}
.info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.info ul li p {
  margin: 0;
  text-align: left;
  color: black;
}
.info ul li p:nth-child(1){
  font-weight: 600;
  font-size: 13px;
}
.info ul li {
  padding-left: 20px;
  height: 40px;
}
.info ul li:hover {
  background: none;
}